<%= image_tag("logo_tagline.png", height:'100px') %>

<h1>Who has the most scans?</h1>


<div class="ui four items">

  <% @stats.each do | (person,count) | %>
    <div class="item" leaderboard-person>
      <div class="content">
        <div class="name"><%= person.name %></div>
        <%= count %> scans
      </div>
    </div>
  <% end %>
</div>
