<h1>Leaderboard</h1>

<div class="ui items">

  <% @stats.each do | (person,count) | %>

    <div class="item">
      <div class="image">
        <img src="http://lorempixel.com/400/300/people/?id=<%= person.id  %>">
      </div>
      <div class="content">
        <div class="name"><%= person.name %></div>
        <p>funnny fact</p>
        <div class="extra">
          <%= count %> scans
        </div>
      </div>
    </div>
  <% end %>
</div>
