

<div>
  <div class="ui huge inverted center aligned icon header"><%= image_tag("firststop_logo_sml.png", alt:"") %></div>
  <div class="ui huge red center aligned icon header">Try out your QR code here</div>
  <div id="qr_scanner" class="ui huge inverted center aligned icon header" data-enabled="true" data-action="/demo">
    <video id="video" style="height:200px;" autoplay></video>
    <canvas id="qr-canvas" width="800" height="600" style="display:none;width:800px;height:600px;"></canvas>
  </div>
  <div id="wait" class="ui huge inverted center aligned icon header" data-enabled="true" data-action="/demo">
    <input type="text" value="0" class="dial"
      data-fgColor="#0971CE"
      data-displayInput="false"
      data-step="1"
      data-min="0"
      data-max="1000">
  </div>
</div>

<script>
$(function() {
  $(".dial").hide();

  $(".dial").bind('go', function() {
    $(".dial").knob();
    $({value: 0})
    .animate({value: 1000}, {
      duration: 500, easing: "swing",
      step: function() {
        $(".dial").val(Math.ceil(this.value)).trigger("change");
      }
    })
  })
});
</script>
