

<div>
  <div class="ui huge inverted center aligned icon header"><%= image_tag("firststop_logo_sml.png", alt:"") %></div>
  <div class="ui huge red center aligned icon header">Try out your QR code here</div>
  <div id="qr_scanner" class="ui huge inverted center aligned icon header" data-enabled="true" data-action="/demo">
    <video id="video" style="height:200px;" autoplay></video>
    <canvas id="qr-canvas" width="800" height="600" style="display:none;width:800px;height:600px;"></canvas>
  </div>
</div>

<div style="clear:both;"> </div>
