<p>You’ve just gone through a very stressful situation and might not know what to do next.</p>

<p>Here are a few questions to help you start thinking about what you need to begin the recovery process.  </p>

<ul>
<li>Have you had contact with your family, friends and neighbours?</li>
<li>Do you have concerns over a missing family member or friend? Please let the Police know. </li>
<li>Do you need medical help? Please ensure you seek care for this. </li>
<li>Do you have or need any prescription medicine? Please seek medical care for this. </li>
<li>Do you have somewhere to stay tonight? The Department of Housing can help you find temporary accommodation. </li>
<li>Do you need food or drink? There is food and drink available. Please ensure remain hydrated. </li>
<li>Do you have sufficient clothing? Please let the charities know what you require. </li>
<li>Do you have pets and are they safe? Please see WIRES if your pet requires assistance. </li>
<li>Do you need a phone? Please see the telecommunications provider. </li>
<li>Do you have a car or transportation? Please speak to a volunteer. </li>
<li>If you have insurance have you contacted your insurance provider?</li>
</ul>

<h3>What happens next?</h3>

<p>Over the coming hours and days you will be speaking to a lot of people from different government agencies and service providers. While your FirstStop QR code will help eliminate the need to let each agency know you name, address and contact details you may be asked other questions multiple times. This is to enable each agency or service provider to help you assess your needs for the coming weeks. </p>

<p>Here are some of the organisations you may be speaking with:</p>

<h3>POLICE</h3>
<p>The Police will want to take a statement from you in case loss of life requires a Coroner’s Inquest. Please organise an appointment with the Police within the next week at a time that is convenient for you. If you need to contact you local Police please call (02)1234 5678.</p>

<h3>DISASTER RELIEF</h3>
<p>Under the joint Australian Government-State Natural Disaster Relief and Recovery Arrangements (NDRRA), assistance is provided to alleviate the financial burden on states and territories. This agency may provide you with financial support. Enquiries can be made on (02)1234 5678.</p>


<h3>ST JOHN’S AMBULANCE</h3>
<p>Please let the medic know if you are injured or require medical assistance. If you or your dependants take regular medication and do not have this at hand please alert your medic. If medical issues at a later date please contact (02)1234 5678</p>
<p>Councillors are also available if you need them. They can be contacted on (02) 1234 5678.</p>


<h3>DEPARTMENT OF HOUSING</h3>
<p>The Department of Housing will help you find temporary accommodation if you require it. Enquiries can be made on (02)1234 5678.</p>

<h3>WIRES</h3>
<p>If your pet is injured or needs assistance please see a representative from WIRES. Enquiries can be made on (02)1234 5678.</p>

<h3>AUSTRALIAN TAXATION OFFICE</h3>
<p>Advise on personal tax or business you could defer</p>

<h3>CHARITIES</h3>
<p>A number of charities are present to help you assess you needs in regards to clothing and shoes; household items, large goods and linen; toiletries; food; toys and books; and food and petrol vouchers. </p>

<ul>
<li>Salvation Army - (02) 1234 5678</li>
<li>St Vincent de Paul - (02) 1234 5678</li>
<li>Anglicare - (02) 1234 5678</li>
</ul>

<p>Your nearest neighbourhood centre may also provide you with a number of local services that may help you with the recovery process. </p>

<ul>
<li>Blackheath Neighbourhood Centre - (02) 1234 5678</li>
<li>Springwood Neighbourhood Centre - (02) 1234 5678</li>
<li>Mid Mountains Neighbourhood Centre - (02) 1234 5678</li>
<li>Katoomba Neighbourhood Centre - (02) 1234 5678</li>
<li>Winmalee Neighbourhood Centre - (02) 1234 5678</li>
<li>Lithgow Neighbourhood Centre - (02) 1234 5678</li>
<li>Richmond Neighbourhood Centre - (02) 1234 5678</li>
</ul>