<style type="text/css">
h1 {
  font-size: 24px;
  color: #0971ce;
  font-weight: normal;
}
a:link {
  color: #25aae1;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #0971ce;
}
a:hover {
  text-decoration: underline;
  color: #1091C7;
}
a:active {
  text-decoration: none;
  color: #0971ce;
}
p {
  color: #11a7bb;
}
ul {
  list-style-type: none;
}
</style>

<div class="ui huge center aligned icon header">
<%= image_tag("firststop_logo.png") %>

<%= image_tag("dots.jpg", width:"419", height:"4", alt:"") %>
<h1>Welcome</h1>
<p>This is a volunteer effort, please help us help you by emailing us: <a href="mailto:FirstStopAus@gmail.com">FirstStopAus@gmail.com</a></p>

<h1>Demo</h1>
<p>Please have a look at our work so far and try it out.</p>
<ul>
<li><%= link_to 'Register', wizard_path %> your details</li>
<li><%= link_to 'Scan', demo_path %> your token</li>
</ul>
</div>
