<h1>Listing Service Providers</h1>

<table class="ui table segment">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @service_providers.each do |service_provider| %>
      <tr>
        <td><%= link_to service_provider.name, service_provider %></td>
        <td>
        <%= link_to 'Edit', edit_service_provider_path(service_provider) %> |
        <%= link_to 'Destroy', service_provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service provider', new_service_provider_path %>
