<p id="notice"><%= notice %></p>

<div class="ui blue segment">
  <h3>Basic Details</h3>
  <div class="ui one column grid">
    <div class="row">
      <div class="column">
        <small>Name</small>
        <div class="details"><%=  @service_provider.name %></div>
      </div>
    </div>
    <div class="row"><div class="column">
      <%= link_to 'Edit', edit_service_provider_path(@service_provider) %> |
      <%= link_to 'Back', service_providers_path %>
    </div></div>
  </div>
</div>