// Place all the styles related to the wizard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin wizard-node {
  border: 1px dotted lightgray;
  padding: 30px;
  margin: 45px 0;
}

@mixin transparent-background {
  background-color: rgba(255, 255, 255, 0.9);
}

@mixin full-image-background($url) {
  background: asset_url($url) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wizard {
  body {
    @include full-image-background('blue-mountains-valley.jpg')
  }

  .menu {
    display: none;
  }

  div[wizard] {
    div[wizard-node] {
      @include wizard-node;
      @include transparent-background;
    }
  }


}
