<div wizard="wizard">

  <%= image_tag("logo_tagline.png", height:'100px') %>

  <% @model.each do |node| %>
    <div class="ui form" wizard-node="<%= node.id %>">
      <form>
        <% node.content.each do |component| %>
          <%= render component.template_name, component: component %>
        <% end %>
      </form>
    </div>
  <% end %>

</div>
