<div wizard="wizard">

  <%= image_tag("logo_tagline.png", height:'100px') %>

  <div class="ui form" wizard-node="wizard.welcome">
    <h2>Your FirstStop</h2>
    <p>FirstStop enables you to easily share your details with those who can help you.</p>
    <p>Registering provides you with a personalised QR Code that allows you to share your details only with those you want to.</p>
    <button class="ui button" wizard-next="wizard.basic_information">Start my registration</button>
  </div>

  <div class="ui form" wizard-node="wizard.basic_information">
    <form>
      <h2>Who are you?</h2>

      <div class="two fields">
        <div class="field">
          <label>First Name</label>
          <input name="first_name" placeholder="First Name" type="text">
        </div>
        <div class="field">
          <label>Last Name</label>
          <input name="last_name" placeholder="Last Name" type="text">
        </div>
      </div>

      <div class="field">
        <label>Gender</label>
        <select class="ui selection dropdown" name="sex" placeholder="Gender">
            <option value=""></option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Gender-neutral</option>
        </select>
      </div>

      <div class="date field">
        <label>Birthday</label>
        <input name="dob" type="text" placeholder="xx/xx/xxxx">
      </div>

      <button class="ui button" wizard-next="wizard.address">Next</button>
    </form>
  </div>

  <div class="ui form" wizard-node="wizard.address">
    <form>
      <h2>What's your current home address?</h2>

      <div class="field">
        <label>Address</label>
        <input name="address" placeholder="Address" type="text">
      </div>

      <div class="three fields">
        <div class="field">
          <label>Suburb</label>
          <input name="suburb" placeholder="Suburb" type="text">
        </div>

        <div class="field">
          <label>Postcode</label>
          <input name="postcode" placeholder="Postcode" type="tel" pattern="\d*">
        </div>

        <div class="field">
          <label>State</label>
          <input name="state" placeholder="State" type="text">
        </div>
      </div>

      <button class="ui button" wizard-next="wizard.contact">Next</button>
    </form>
  </div>

  <div class="ui form" wizard-node="wizard.contact">
    <form>
      <h2>How can we contact you?</h2>

      <div class="field">
        <label>Email</label>
        <input name="email" placeholder="Email" type="email">
      </div>

      <div class="field">
        <label>Phone</label>
        <input name="mobile" placeholder="Phone" type="tel">
      </div>

      <button class="ui button" wizard-next="wizard.pets">Next</button>
    </form>
  </div>

  <div class="ui form" wizard-node="wizard.pets">
    <form>
      <h2>Do you have pets?</h2>

      <div class="ui buttons">
        <button class="ui button" wizard-next="wizard.pets2">yes</button>
        <div class="or"></div>
        <button class="ui button" wizard-next="wizard.what_happend">No</button>
      </div>
    </form>
  </div>

  <div class="ui form" wizard-node="wizard.pets2">
    <form>
      <h2>Tell us about your pets</h2>

      <div class="field">
        <textarea name="pet_details" placeholder="e.g. names, dog or cat" width="100%"></textarea>
      </div>

      <button class="ui button" wizard-next="wizard.what_happend">Next</button>
    </form>
  </div>

  <div class="ui form" wizard-node="wizard.what_happend">
    <form>
      <h2>Tell us your story</h2>

      <div class="field">
        <textarea name="current_situation" placeholder="Can you share your story and how you have been affected." width="100%"></textarea>
      </div>

      <button class="ui positive button" wizard-submit="wizard.qr_code">Register me</button>
    </form>
  </div>


  <div wizard-node="wizard.qr_code">
    <h2>Thank you for your registration</h2>
    <p>Please collect your FirstStop QR code from the printing station and take it with you to the support organisations here to help you.</p>
    <br />
    <div id="wizard-qr-code"></div>
    <br><br>
    <a class="ui button" href="/wizard">Start over</a>
  </div>


  <!--div wizard-node="wizard.red_cross">
    <h2>Red Cross Australia</h2>
    <img src="http://www.redcross.org.au/common/images/backgrounds/ARC_100Years-logo.png" width="40%" />
    <br><br>
    <p>During an emergency response, Red Cross focuses on individuals and works with communities to enable people&nbsp;to be treated with dignity and that their basic human needs are met. </p>
    <h3>How they help</h3>
    <ul>
      <li>Lorem </li>
      <li>Lorem </li>
      <li>Lorem </li>
    </ul>

    <button class="ui button" wizard-next="wizard.police">Next</button>
  </div>

  <div wizard-node="wizard.police">
    <h2>New South Wales Police Service</h2>
    <img src="http://www.mv8.com.au/wp-content/uploads/2013/09/plogolge.gif" width="40%" />
    <br><br>
    <p>Emergency management is a complex, whole of community series of activities; including risk assessment, prevention measures, preparedness to cope with future disasters, emergency response, recovery and rehabilitation.</p>

    <p>Emergencies due to natural disasters cost the NSW community an average of $484 million per year, which is 44% of the national total. On average, there are more than 20 natural disasters costing more than $10 million every year in NSW.</p>
    <h3>How they help</h3>
    <ul>
      <li>Lorem </li>
      <li>Lorem </li>
      <li>Lorem </li>
    </ul>

    <button class="ui button" wizard-next="wizard.ato">Next</button>
  </div>

  <div wizard-node="wizard.ato">
    <small>Have you lodged your tax return? If not, ask for an extension!</small>
    <h2>Taxation Office</h2>
    <img src="https://www.ato.gov.au/uploadedImages/Content/Images/logo-ato.png" width="40%" />
    <br><br>
    <p>Emergency management is a complex, whole of community series of activities; including risk assessment, prevention measures, preparedness to cope with future disasters, emergency response, recovery and rehabilitation.</p>

    <p>Emergencies due to natural disasters cost the NSW community an average of $484 million per year, which is 44% of the national total. On average, there are more than 20 natural disasters costing more than $10 million every year in NSW.</p>
    <h3>How they help</h3>
    <ul>
      <li>Lorem </li>
      <li>Lorem </li>
      <li>Lorem </li>
    </ul>
  </div-->

</div>
