<div wizard="wizard">

  <div class="ui medium images">
    <%= image_tag("rhok.png", class:'ui image', style: "width: 38%") %>
    <%= image_tag("logo_tagline.png", class:'ui image right floated', style: "width: 38%") %>
  </div>

  <%= render 'wizard', wizard: @model %>
  <%= render 'progressbar' %>



</div>
