<div wizard="wizard">

  <div class="ui medium images">
    <%= image_tag("rhok.png", class:'ui image') %>
    <%= image_tag("logo_tagline.png", class:'ui image right floated') %>
  </div>

  <% @model.each do |node| %>
    <div class="ui form" wizard-node="<%= node.id %>">
      <form>
        <% node.content.each do |component| %>
          <%= render component.template_name, component: component %>
        <% end %>
      </form>
    </div>
  <% end %>

</div>
