<div class="wizard" wizard="wizard">

  <div class="ui form" wizard-node="wizard.welcome">
    <h2>Welcome to FirstStop</h2>
    <div>What would you like to do?</div>
    <button class="ui button" wizard-next="wizard.basic_information">Get started</button>
  </div>

  <div class="ui form" wizard-node="wizard.basic_information">
    <h2>Who are you?</h2>
    <form>
      <div class="two fields">
        <div class="field">
          <label>First Name</label>
          <input placeholder="First Name" type="text">
        </div>
        <div class="field">
          <label>Last Name</label>
          <input placeholder="Last Name" type="text">
        </div>
      </div>

      <div class="field">
        <label>Gender</label>
        <div class="ui fluid selection dropdown">
          <div class="text">Select</div>
          <i class="dropdown icon"></i>
          <input type="hidden" name="gender">
          <div class="menu">
            <div class="item" data-value="male">Male</div>
            <div class="item" data-value="female">Female</div>
          </div>
        </div>
      </div>

      <div class="date field">
        <label>Birthday</label>
        <input type="text" placeholder="xx/xx/xxxx">
      </div>

      <button class="ui button" wizard-next="wizard.happening">Next</button>
    </form>
  </div>


  <div class="ui form" wizard-node="wizard.happening">
    <h2>What happend?</h2>
    <form>
      <input type="checkbox" id="wh1"/> <label for="wh1">My house burned down</label>
      <input type="checkbox" id="wh2"/> <label for="wh2">I lost a beloved one</label>

      <br />

      <textarea placeholder="Anything else?" width="100%"></textarea>

      <button class="ui button" wizard-next="wizard.qr_code">Set me up</button>
    </form>
  </div>



  <div wizard-node="wizard.qr_code">
    <h2>Here it is; your super-duber special personal QR-Code.</h2>
    <div>Enjoy!</div>
    <br>
    <img src="http://upload.wikimedia.org/wikipedia/commons/1/1e/QR-Code_Willkommen_bei_Wikipedia.png" width="40%" />
    <br><br>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>

    <button class="ui button" wizard-next="wizard.red_cross">Next</button>
  </div>


  <div wizard-node="wizard.red_cross">
    <h2>Red Cross Australia</h2>
    <img src="http://www.redcross.org.au/common/images/backgrounds/ARC_100Years-logo.png" width="40%" />
    <br><br>
    <p>During an emergency response, Red Cross focuses on individuals and works with communities to enable people&nbsp;to be treated with dignity and that their basic human needs are met. </p>
    <h3>How they help</h3>
    <ul>
      <li>Lorem </li>
      <li>Lorem </li>
      <li>Lorem </li>
    </ul>

    <button class="ui button" wizard-next="wizard.police">Next</button>
  </div>

  <div wizard-node="wizard.police">
    <h2>New South Wales Police Service</h2>
    <img src="http://www.mv8.com.au/wp-content/uploads/2013/09/plogolge.gif" width="40%" />
    <br><br>
    <p>Emergency management is a complex, whole of community series of activities; including risk assessment, prevention measures, preparedness to cope with future disasters, emergency response, recovery and rehabilitation.</p>

    <p>Emergencies due to natural disasters cost the NSW community an average of $484 million per year, which is 44% of the national total. On average, there are more than 20 natural disasters costing more than $10 million every year in NSW.</p>
    <h3>How they help</h3>
    <ul>
      <li>Lorem </li>
      <li>Lorem </li>
      <li>Lorem </li>
    </ul>

    <button class="ui button" wizard-next="wizard.ato">Next</button>
  </div>

  <div wizard-node="wizard.ato">
    <small>Have you lodged your tax return? If not, ask for an extension!</small>
    <h2>Taxation Office</h2>
    <img src="https://www.ato.gov.au/uploadedImages/Content/Images/logo-ato.png" width="40%" />
    <br><br>
    <p>Emergency management is a complex, whole of community series of activities; including risk assessment, prevention measures, preparedness to cope with future disasters, emergency response, recovery and rehabilitation.</p>

    <p>Emergencies due to natural disasters cost the NSW community an average of $484 million per year, which is 44% of the national total. On average, there are more than 20 natural disasters costing more than $10 million every year in NSW.</p>
    <h3>How they help</h3>
    <ul>
      <li>Lorem </li>
      <li>Lorem </li>
      <li>Lorem </li>
    </ul>
  </div>

</div>
